body {
  font-family: "Rubik Moonrocks", cursive;
  margin: 0;
}
h1 {
  font-size: 70px;
}
.name-color {
  color: orange;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 10px;
}
.half-width img {
  width: 90%;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(#fa441d, #c42908, #81220d);
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
}
p {
  text-align: justify;
}
.background {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 160px;
}
.background2 {
  background-image: url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.border-apply {
  box-shadow: 10px 10px 20px gray;
  width: 40%;
  margin: 5%;
  padding: 20px;
  height: 400px;
  border-radius: 10px;
}
h2 {
  font-size: 40px;
}
.experience-banner {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  margin-top: 0;
}
#border {
  border-left: 7px solid salmon;
}
#left-border {
  border-left: 7px solid black;
}
.footer {
  text-align: center;
}
